@charset "utf-8";
:root {
    --main_background_color : #fff;
    --main_logo_color : #000;
    --other_color : #000;
    --profile_color : #00c9c8;
    --text_color : #333;
    --text_other_color : #555;
    --button_color : #6b3988;
}